<mat-toolbar color="primary">
	<span class="title-center" style="font-size:22pt;color:white;">MusicPro</span>
	Spotify&nbsp;<mat-slide-toggle id="slide" [checked]="checked"> MusicBrainz</mat-slide-toggle>
</mat-toolbar>


<div class="w3-container">

		<mat-card class="example-card">
		<mat-card-header>
			<mat-card-title class="title-playlist" style="font-size:18pt;color:white;">Your Playlists</mat-card-title>
			&nbsp;&nbsp;<button mat-mini-fab (click)="addPlaylist()" style="font-size:18pt;color:white;" color="primary">+</button>

		</mat-card-header>
		<mat-card-actions>
				<mat-list *ngFor="let playlist of playlists" (click)="onSelectPlaylist(playlist.id)">
				  <mat-list-item>{{playlist.name}}</mat-list-item>
				  <mat-divider></mat-divider>
				</mat-list>
		 </mat-card-actions>
		</mat-card>

		
<mat-card class="search-card">
	<form class="example-form">
		<mat-form-field class="example-full-width">
			<input matInput id="searchInput" style="width:800px !important" placeholder="Search for a song" type="text" style="font-size:14pt;color:white;">
		</mat-form-field>
		&nbsp;&nbsp;&nbsp;<button mat-raised-button id="searchButton" color="primary" (click)="search()" align="right-side">Search</button>

	</form>
	
	<mat-card class="result-card">
		<mat-card-header> RESULTS
		</mat-card-header>
		
		<mat-card-content id="results"> Ide a találatok
		</mat-card-content>	
		
		
			
	</mat-card>
	
</mat-card>

</div>