.title-center {
  flex: 1 1 auto;

}

.w3-container{
	
	display: flex;
	flex-direction: row;
	height:100%
	
}

.example-card {
	align: left;
	width: 15%;
	height: 100%;
	text-align: center;
	
}

.search-card{
	
	align: right;
	height:100%;
	width: 85%;
	background-color: black;
	text-align: center;
	
	
}

.matInput{
  width:800px !important;
}

.example-full-width{
	align: center;
	width: 80%;
	
}

.result-card{
	align: right;
	background-color: black;
	text-align: center;
	height: 80%
}