.title-center {
  flex: 1 1 auto;
  align:center;
  padding-left:4%
  
}

.w3-container{
	
	display: flex;
	flex-direction: row;
	height:100%;
	
}

.example-card {
	align: left;
	width: 15%;
	height: 150%;
	text-align: center;
	
}

.matInput{
  width:800px !important;
}

.example-full-width{
	align: center;
	width: 80%;
	
}

.result-card{
	align: center;
	background-color: black;
	text-align: center;
	align-content: center;
}

.title-playlist{
	align: center;
}

.result-table{
	align: center;
	background-color: darkgray;
}

.grid-songs {
	
	width:80%;
	text-align:left;
	text-color:white;
	align:center;
	background-color: black;
}

.grid-songs mat-grid-tile
{
	display: inline-block;
	text-color:white;
}

.work-grid-songs 
{
    width:100%;
	color: #DDD;
    text-decoration: none;
	background-color:black;
	align: center;
	align-content:center;
	
	
}

.grid-songs {
	
	width:80%;
	text-align:left;
	text-color:white;
	align:center;
	background-color: black;
}

.grid-songs mat-grid-tile
{
	display: inline-block;
	text-color:white;
}

.grid-songs {
	
	width:80%;
	text-align:left;
	text-color:white;
	align:center;
	background-color: black;
}

.grid-songs mat-grid-tile
{
	display: inline-block;
	text-color:white;
}

.grid-songs a
{
    width:80%;
	color: #DDD;
    text-decoration: none;
}

.work-card{
	align: center;
	background-color: black;
	
	text-align: center;
	align-content: center;
}

.data-card{
	
	align: center;
	width: 85%;
	background-color: black;
	text-align: center;
	
	
}

.small-result-card {
	align: center;
	background-color: black;
	text-align: center;
	align-content: center;
	
}
.workres{
	
	align:center;
	align-content:center;
	background-color:black;
}