<mat-toolbar color="primary">
	<span class="title-center" style="font-size:22pt;color:white;">MusicPro</span>
	Spotify&nbsp;<mat-slide-toggle (change)=onToggleChange()> MusicBrainz</mat-slide-toggle>
</mat-toolbar>


<div class="w3-container" >

	<mat-card class="example-card" >
		<mat-card-header>
			<mat-card-title class="title-playlist" style="font-size:18pt;color:white;">Your Playlists</mat-card-title>
			&nbsp;&nbsp;<button mat-mini-fab style="font-size:18pt;color:white;" color="primary">+</button>

		</mat-card-header>
		<mat-card-actions>
				<mat-list *ngFor="let playlist of playlists" (click)="onSelectPlaylist(playlist.id)">
					<mat-list-item>{{playlist.name}}</mat-list-item>
				<mat-divider></mat-divider>
				</mat-list>
		</mat-card-actions>
	</mat-card>

		
	<mat-card class="data-card">
		
		<mat-card class="result-card" style="align:center">		
			<mat-card-content id="results">
			</mat-card-content>	
			<mat-card-actions>
			<ng-container class="spotify-component" *ngIf="showSpotify" >
				<ng-container class="result-card">
					<span style="font-size:18pt;color:white;align:center;">{{title}}</span>
					<button mat-mini-fab (click)="addToPlaylist(musicBrainzSpotifyTrack.spotify.id)" style="font-size:18pt;color:white;" color="primary">+</button>
					
						<mat-grid-list cols="2" rowHeight="10:1" class="grid-songs" style="text-align:left;color:white;" columnHeight="400px">
							<mat-grid-tile class="text-inside-grid"><a >Artist</a></mat-grid-tile>
							<mat-grid-tile class="text-inside-grid"><a >{{artist.spotify.name}}</a></mat-grid-tile>
							<mat-grid-tile></mat-grid-tile>
							<mat-grid-tile class="text-inside-grid"><a >{{artist.spotify.genres}}</a></mat-grid-tile>
							<mat-grid-tile class="text-inside-grid"><a >Album</a></mat-grid-tile>
							<mat-grid-tile>{{album.spotify.name}}</mat-grid-tile>
							<mat-grid-tile></mat-grid-tile>
							<mat-grid-tile>YEAR</mat-grid-tile>
						</mat-grid-list>
				</ng-container>
			</ng-container>
			<ng-container class="musicbrainz-component" *ngIf="!showSpotify" >
						MUSICBRAIINZ
			</ng-container>
			</mat-card-actions>			
		</mat-card>
		
		<mat-card class="work-card" style="align:center">
			
			<button mat-raised-button color="primary" (click)="onWork()">Work</button>
			<ng-container *ngIf="predictedTracks.length != 0" class="result-card">
			<mat-grid-list *ngFor="let item of predictedTracks" cols="3" rowHeight="6:1" class="grid-songs" style="text-align:left;color:white;">
						<mat-grid-tile class="text-inside-grid"><a >{{item.name}} </a></mat-grid-tile>
						<mat-grid-tile class="text-inside-grid"><a >{{item.artists[0].name}}</a></mat-grid-tile>
						<mat-grid-tile class="text-inside-grid"><a >{{item.album.name}} 
						 <button mat-mini-fab color="primary">Add</button>
						</a></mat-grid-tile>
			</mat-grid-list>
			</ng-container>
		</mat-card>
	</mat-card>

</div>
