.title-center {
  flex: 1 1 auto;
  align:center;
  padding-left:4%
  
}

.w3-container{
	
	display: flex;
	flex-direction: row;
	height:100%;
	
}

.example-card {
	align: left;
	width: 15%;
	height: 100%;
	text-align: center;
	
}

.example-full-width{
	align: center;
	width: 80%;
	
}

.data-card{
	align: center;
	background-color: black;
	text-align: center;
	height: 80%;
	align-content: center;
}

.title-playlist{
	align: center;
}

.result-table{
	align: center;
	background-color: darkgray;
}
